# Actividad - Librería `pandas`

* **Nombre:** Karina Fernanda Maldonado Murillo
* **Matrícula:** A01707516

In [ ]:
import pandas as pd
import numpy as np

**Entregar:** Archivo PDF de la actividad, así como el archivo .ipynb en tu repositorio.
**Nota:** Recuerda habrá una penalización de **50** puntos si la actividad fue entregada fuera de la fecha límite.

1. Subir el archivo `netflix_titles.csv` que se encuentra en el repositorio de la clase y cargalos en un `DataFrame`.

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving netflix_titles.csv to netflix_titles.csv
User uploaded file "netflix_titles.csv" with length 3000491 bytes

In [ ]:
df = pd.read_csv('netflix_titles.csv')

2. Desplegar las primeras 5 líneas del `DataFrame`.

In [ ]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

3. Implementa una función que despliegue el primer renglon de un `DataFrame`.

In [ ]:
def the_first():
  first_row= df.iloc[0].tolist()
  print(first_row)
    
  return

the_first()

['s1', 'TV Show', '3%', nan, 'João Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zezé Motta, Celso Frateschi', 'Brazil', 'August 14, 2020', 2020, 'TV-MA', '4 Seasons', 'International TV Shows, TV Dramas, TV Sci-Fi & Fantasy', 'In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.']

4. Implementa una función que regrese el número de registros en el `DataFrame`.

In [ ]:
def row_number():
  elements=df.size
  print(df.size)
  return

row_number()

93444

5. Implementa una función que despliega las películas con un `release_year` determinado.

In [ ]:
def released_year(year):
  year= df[df.release_year == year_query]
  print(year)
  return 

year_query = 2020
released_year(year_query)

     show_id     type                                title           director  \
0         s1  TV Show                                   3%                NaN
24       s25  TV Show  ​SAINT SEIYA: Knights of the Zodiac                NaN
26       s27  TV Show                             (Un)Well                NaN
27       s28    Movie                               #Alive             Cho Il
29       s30  TV Show                             #blackAF                NaN
...      ...      ...                                  ...                ...
7725   s7726  TV Show                      You Cannot Hide                NaN
7734   s7735    Movie                      You've Got This  Salvador Espinosa
7738   s7739  TV Show                      Young Wallander                NaN
7741   s7742    Movie            Your Name Engraved Herein      Liu Kuang-hui
7744   s7745    Movie          Yours Sincerely, Kanan Gill       Neville Shah

                                                   cast         country  \
0     João Miguel, Bianca Comparato, Michel Gomes, R...          Brazil
24    Bryson Baugus, Emily Neves, Blake Shepard, Pat...           Japan
26                                                  NaN   United States
27                             Yoo Ah-in, Park Shin-hye     South Korea
29    Kenya Barris, Rashida Jones, Iman Benson, Genn...   United States
...                                                 ...             ...
7725  Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...          Mexico
7734  Mauricio Ochmann, Esmeralda Pimentel, Matteo G...          Mexico
7738  Adam Pålsson, Richard Dillane, Leanne Best, El...  United Kingdom
7741  Edward Chen, Tseng Ching-hua, Leon Dai, Jason ...          Taiwan
7744                                         Kanan Gill           India

             date_added  release_year rating   duration  \
0       August 14, 2020          2020  TV-MA  4 Seasons
24     January 23, 2020          2020  TV-14  2 Seasons
26      August 12, 2020          2020  TV-MA   1 Season
27    September 8, 2020          2020  TV-MA     99 min
29       April 17, 2020          2020  TV-MA   1 Season
...                 ...           ...    ...        ...
7725    October 1, 2020          2020  TV-MA   1 Season
7734    October 2, 2020          2020  TV-MA    112 min
7738  September 3, 2020          2020  TV-MA   1 Season
7741  December 23, 2020          2020  TV-MA    115 min
7744     April 24, 2020          2020  TV-MA     72 min

                                              listed_in  \
0     International TV Shows, TV Dramas, TV Sci-Fi &...
24                 Anime Series, International TV Shows
26                                           Reality TV
27       Horror Movies, International Movies, Thrillers
29                                          TV Comedies
...                                                 ...
7725  Crime TV Shows, International TV Shows, Spanis...
7734    Comedies, International Movies, Romantic Movies
7738  Crime TV Shows, International TV Shows, TV Dramas
7741         Dramas, International Movies, LGBTQ Movies
7744                                    Stand-Up Comedy

                                            description
0     In a future where the elite inhabit an island ...
24    Seiya and the Knights of the Zodiac rise again...
26    This docuseries takes a deep dive into the luc...
27    As a grisly virus rampages a city, a lone man ...
29    Kenya Barris and his family navigate relations...
...                                                 ...
7725  A nurse and her daughter flee her husband’s dr...
7734  An ad creative and a successful exec have a gr...
7738  An incendiary hate crime stirs civil unrest, f...
7741  In 1987, as martial law ends in Taiwan, Jia-ha...
7744  Revisiting life goals set in a letter written ...

[868 rows x 12 columns]

6. Implementa una función que despliegue las películas que son de un país determinado.

In [ ]:
def origin_country(country):
  country= df[df.country == country_query]
  print(country)
  return 

country_query = 'Mexico'
origin_country(country_query)

     show_id     type                                           title  \
1         s2    Movie                                            7:19
12       s13  TV Show                                            1994
292     s293    Movie                             Acapulco La vida va
370     s371    Movie                  Alan Saldaña: Mi vida de pobre
378     s379    Movie  Alex Fernández: The Best Comedian in the World
...      ...      ...                                             ...
7698   s7699  TV Show                                          Yankee
7725   s7726  TV Show                                 You Cannot Hide
7734   s7735    Movie                                 You've Got This
7773   s7774    Movie                                  Zoé: Panoramas
7779   s7780  TV Show                                       Zona Rosa

                                   director  \
1                         Jorge Michel Grau
12                     Diego Enrique Osorno
292                Alfonso Serrano Maturino
370                  Raúl Campos, Jan Suter
378                               Alex Díaz
...                                     ...
7698                                    NaN
7725                                    NaN
7734                      Salvador Espinosa
7773  Rodrigo Guardiola, Gabriel Cruz Rivas
7779                                    NaN

                                                   cast country  \
1     Demián Bichir, Héctor Bonilla, Oscar Serrano, ...  Mexico
12                                                  NaN  Mexico
292   Patricio Castillo, Sergio Bustamante, Alejandr...  Mexico
370                                        Alan Saldaña  Mexico
378                                      Alex Fernández  Mexico
...                                                 ...     ...
7698  Pablo Lyle, Ana Layevska, Leonardo Daniel, Jav...  Mexico
7725  Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...  Mexico
7734  Mauricio Ochmann, Esmeralda Pimentel, Matteo G...  Mexico
7773  Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...  Mexico
7779  Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...  Mexico

             date_added  release_year rating  duration  \
1     December 23, 2016          2016  TV-MA    93 min
12         May 17, 2019          2019  TV-MA  1 Season
292        June 3, 2017          2016  TV-MA    89 min
370      August 4, 2017          2017  TV-MA    54 min
378    January 23, 2020          2020  TV-MA    51 min
...                 ...           ...    ...       ...
7698      June 14, 2019          2019  TV-MA  1 Season
7725    October 1, 2020          2020  TV-MA  1 Season
7734    October 2, 2020          2020  TV-MA   112 min
7773   November 1, 2019          2016  TV-MA    89 min
7779  November 26, 2019          2019  TV-MA  1 Season

                                              listed_in  \
1                          Dramas, International Movies
12    Crime TV Shows, Docuseries, International TV S...
292              Comedies, Dramas, International Movies
370                                     Stand-Up Comedy
378                                     Stand-Up Comedy
...                                                 ...
7698  Crime TV Shows, International TV Shows, Spanis...
7725  Crime TV Shows, International TV Shows, Spanis...
7734    Comedies, International Movies, Romantic Movies
7773  Documentaries, International Movies, Music & M...
7779  International TV Shows, Spanish-Language TV Sh...

                                            description
1     After a devastating earthquake hits Mexico Cit...
12    Archival video and new interviews examine Mexi...
292   Three lifelong friends travel to Acapulco oste...
370   Mexican comic Alan Saldaña has fun with everyt...
378   Comic Alex Fernández performs his familiar aut...
...                                                 ...
7698  On the run from the police, an Arizona man cro...
7725  A nurse and her daughter flee her husband’s dr...
7734  An ad creative and a successful exec have a gr...
7773  This introspective rockumentary follows the ca...
7779  An assortment of talent takes the stage for a ...

[100 rows x 12 columns]

7. Crea un nuevo `DataFrame` que sólo contenga las columnas `type`, `title`, `country` y `release_year`.

In [ ]:
df2 = df.filter(['type', 'title', 'country', 'realease_year'],axis=1)
df2

,type,title,country
0,TV Show,3%,Brazil
1,Movie,7:19,Mexico
2,Movie,23:59,Singapore
3,Movie,9,United States
4,Movie,21,United States
...,...,...,...
7782,Movie,Zozo,"Sweden, Czech Republic, United Kingdom, Denmar..."
7783,Movie,Zubaan,India
7784,Movie,Zulu Man in Japan,NaN
7785,TV Show,Zumbo's Just Desserts,Australia
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,"United Kingdom, Canada, United States"

8. Despliega, cuantos tipos de producciones (`type`) se hicieron por país determinado (`country`).

In [ ]:
df.groupby(['type','country']).sum()

                                                            release_year
type    country
Movie   Argentina                                                  68519
        Argentina, Brazil, France, Poland, Germany, Den...          2017
        Argentina, Chile                                            2017
        Argentina, Chile, Peru                                      2015
        Argentina, France                                           2017
...                                                                  ...
TV Show United States, South Korea, China                           4036
        United States, Sweden                                       2015
        United States, United Kingdom                              14086
        United States, United Kingdom, Australia                    2017
        Uruguay, Germany                                            2019

[773 rows x 1 columns]

# 9. Implementa la función que genera el cuadrado de un número.

In [ ]:
def square(x):
  n=np.square(x)
  print(n)
  return 

square(2)

4

10. Usando el método `apply`, genera el cuadrado de todos los valores del siguiente `DataFrame`.

In [ ]:
df2 = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
print(df2)
df2.apply(np.square)

   A   B
0  1  10
1  2  20
2  3  30
3  5  40
4  6  50

    A     B
0   1   100
1   4   400
2   9   900
3  25  1600
4  36  2500